extends ../estimation.pug
include ../estimation-mixins.pug

block page-title
    span.english-text
        | Activity Level
    span.filipino-text
        |  Antas ng Aktibidad

block page-number
    | 2.1 of 5

block page-description
    span.english-text
        | Click the left or right button (or slide when using mobile) to choose the intensity of your activity.
        | The intensity increases from left to right.
        | Afterward, select the button between silent, speaking, and loudly speaking depending on how vocal you are during the activity.
    span.filipino-text
        | Piliin mula sa kaliwa o kanang pindutan ang tindi ng aktibidad.
        | Pagkatapos, pumuli mula sa “tahimik,” “pagsasalita,” at “malakas na pagsasalita” depende kung paano mo gagamitin ang iyong boses sa aktibidad.


block progress-bar
    +bars(2, 2)

block progress-bar-subset
    +bars(1,4)

block progress-bar-after
    +bars(0, 2)

block input
    section.space-y-3.px-0.font-sans
        .text-center.space-x-3
            .text-midnight-blue.text-lg.font-black.tracking-normal(class='md:text-xl xl:text-2xl')
                span.english-text
                    | How intense is the activity?
                span.filipino-text
                    | Gaano katindi ang aktibidad?

            .dropdown.dropdown-end

                button.bg-green.tooltip-btn(tabindex='0')
                    i.fas.fa-question


                .shadow.card.compact.dropdown-content.bg-base-100.rounded-box.w-52(tabindex='0')
                    .card-body
                        p.english-text
                            | The intensity of the activity refers to the nature of what the people will be doing for the planned activity (e.g. talking, sleeping, walking, & running).
                        p.filipino-text
                            | Ang tindi ng aktibidad ay tumutukoy sa paraan ng aksyon ng mga tao sa pagganap ng aktibidad (Hal. pakikipag-usap, pagtulog, paglalakad, at pagtakbo).


    .w-full.carousel
        each level, index in data.activityLevels
            div.w-full.carousel-item(id='slide_' + index)
                .carousel-container
                    .card.card-bordered.text-midnight-blue.shadow.mx-auto
                        div.flex.items-center

                            - var nextIndex = (index + 1) == data.activityLevels.length ? 0 : (index + 1)
                            - var previousIndex = (index - 1) == -1 ? data.activityLevels.length-1 : (index - 1)

                            .flex-col

                                figure.p-0.m-0.act_level_img(class='sm:max-h-80 md:h-80')
                                    img.p-0.m-0.w-full(class='md:h-full' src='/static/images/activity-level/' + level['Name'] + '.svg' alt=level['Name'])
                                .card-body
                                    h2.card-title.text-3xl.flex.space-x-3(id='name_' + index class=(index === 0 ? "curr": undefined))
                                        span.english-text
                                            | #{level['Name']}
                                        span.filipino-text
                                            | #{level['filipino']['Name']}
                                        span.card-icon.flex.items-center.hidden(id='title' + index)
                                            i.fas.fa-check-circle(style="color: #4cb9a6" )

                                    p.english-text #{level['Desc']}
                                    p.filipino-text #{level['filipino']['Desc']}


                                    .card-actions.flex.flex-col
                                        h6.font-black How vocal are you during the activity?

                                        .adv_btn_container

                                            button.adv_btn.cursor-pointer(data-name=level['Name'] data-code=level['Code'] + ' OB' data-index=index)
                                                span.english-text Silent
                                                span.filipino-text Tahimik
                                            button.adv_btn.cursor-pointer(data-name=level['Name'] data-code=level['Code'] + ' S' data-index=index)
                                                span.english-text Speaking
                                                span.filipino-text Nagsasalita
                                            button.adv_btn.cursor-pointer(data-name=level['Name'] data-code=level['Code'] + ' LS' data-index=index)
                                                span.english-text Loudly Speaking
                                                span.filipino-text Malakas na Pagsasalita

    .flex.justify-center.w-full.py-2.gap-5

        a#back-btn.btn.btn-xs.btn-ghost.text-lg.nav-btn(href='#slide_-1')
            i.fas.fa-angle-left.fa-2x(style="pointer-events: none;")

        a.btn#text-btn.btn-xs.btn-ghost.text-lg
            span.english-text Resting
            span.filipino-text Nagpapahinga

        a#next-btn.btn.btn-xs.btn-ghost.text-lg.nav-btn(href='#slide_1')
            i.fas.fa-angle-right.fa-2x(style="pointer-events: none;")
